/* For responsiveness I'm using % for setting most sizes, Try resizing your browser */
/* Styling the table of teams page*/
table{
    width: 60%;
    height: 20px;
    margin: 0 auto;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

th{
    border-bottom: .2em solid #004400;
    border-radius: 8px 8px 0 0;
    background-image: linear-gradient(#ffff00, #208a20);    /* According to "Can I use", most browssesr (95.39%) support unprefixed linear-gradient of Jun */
    color: #ffffff;
    padding: 2% 0 2% 0;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
}

/* Aligning text of table heading */
th:first-child{
    text-align: left;
    padding-left: 5px;
}

th:not(:first-child){
    text-align: center;
}

/* Aligning text of table data */
td:first-child{
    text-align: left;
    padding-left: 5px;
}

tr:not(:first-child){
    text-align: center;
}

/* setting opacity and bg color for all rows except 1st row (to make heading transition beautiful) */
tr:not(:first-child){
    opacity: 0.7;
    background-color: #79d62c;
}

/* tr:hover{                    /* Simple table row hover */ /*
    opacity: 1;
    background-color: #52a85c;
} */

tr:not(:first-child):hover{
    opacity: 1;                 /* changing opacity on hover */
    background-color: #52a85c;
}
td{
    padding: 1.2% 0 1.2% 0;
}

td:hover{
    text-shadow: 0 0 4px #dd0000;   /* Text-shadow with blur effect of red neon glow */
    background-image: radial-gradient(#dddd00, #52a85c);
}

th:hover{
    text-shadow: 2px 2px 5px #dd0000;
    transform: translateY(-15%)     /* According to "Can I  Use" 98.17% Global devices support 2D transforms */
}


/* Styling Web page */
body{
    padding: 0.5%;
    margin: 0.5%;
}
header{
    background-color: #b0dbb0;
    background-image: url('../images/flywheel.jpg');
    background-size: 100%;
    padding: 2%;
}

h1{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.5vw;         /* Relative to 3% of the width of the viewport or browser window */
}

nav a{		        /* Styling navigation link */
    display: inline-block;
    margin-left: 5%;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding: 1% 5%;
    font-size: 2vw;         /* Relative to 2% of the height of the viewport or browser window */
    color: #000;
    background-color: #ccc5;
}

.active{
    color: #080;
    background-color: #fffc;
}

nav a:hover{        /* Highlight by cursor hover */
    background-color: #0b05;
}

nav a:focus{        /* Highlight by tab button */
    background-color: #0b05;
}

.left{		        /* Aside tag class */
    float: left;
    width: 20%;
    padding: 2%;
    height: 100vh;
    background-color: #770;
    text-align: center;
    margin-right: 15px;
}

.left img{        /* Left sided images */
    border: 3px solid #020;
    width: 17vw; /*60%*/
    margin: 8% 2%;
}

.right{
/*     background-color: #bd06; */
    background-image: linear-gradient(#bd07, #fff);
    padding: 2.5%;
    font-size: 1.4vw;
}

.right ul{
    margin-left: 25%;
}

h2{
    display: inline;
    color: #330066;
    text-transform: uppercase;
}

/* Thank you for reviewing, I hope different color choices would not be the problem */
